<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改个人资料</title>
</head>
<body background="/static/icon/000_.jpg">
<div align="center">
<h1>
<br><br><br><br><br>
<form method="post">
    {{ edit_form.name.label }}{{ edit_form.name }}<br>
    {{ edit_form.sex.label }}{{ edit_form.sex }}<br>
    {{ edit_form.location.label }}{{ edit_form.location }}<br>
    {{ edit_form.about_me.label }}{{ edit_form.about_me }}<br>
    {{ edit_form.submit }}
</form>
</h1></div></body>
</html>