<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
   <style type="text/css">
*{
	margin: 0;
	padding: 0;
}
.logC a button {
	width: 7.5%;
	height: 45px;
	background-color: #ee7700;
	border: none;
	color: white;
	font-size: 18px;
}
</style>
</head>
<body background="/static/icon/000_.jpg">
<div align="center">
<h1>
<br><br><br><br><br>
<form method="post">
     <table>
        <tr>
            <td>{{ modify_form.old_password.label }}</td>
            <td>{{ modify_form.old_password }}</td>
        </tr>
        <tr>
            <td>{{ modify_form.new_password.label }}</td>
            <td>{{ modify_form.new_password }}</td>
        </tr>

    </table>
    <div class="logC">
				<a onsubmit="this"><button>修 改</button></a>
			</div>
</form>
{% for i in get_flashed_messages() %}
{{ i }}
{% endfor %}
</h1></div></body>
</html>