<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的视频</title>
</head>
<body background="/static/icon/000_.jpg">
<div align="center">
<h1>
<br><br><br><br><br>
{% if video %}
{% for i in video %}
    <a href="{{url_for('see_video',kid=i.id)}}">{{ i.id }}</a>
    <a href="{{ url_for('classify',video_id=i.id) }}">分类</a>
    <a href="{{ url_for('delvideo',video_id=i.id) }}">删除</a> <br>
{% endfor %}
{% else %}
您还未上传视频哦<br>
{% endif %}
<a href="{{ url_for('uploadvideo') }}">上传视频</a><br>
<a href="{{ url_for('personal_data') }}">返回个人中心</a><br>
</h1></div></body>
</html>